<h1 class='page-header'>Leaderboard</h1>
<div class="leaderboard-table">
    <table class="table">
    <thead>
      <tr>
        <th>Rank</th>
        <th>Name</th>
        <th>Score</th>
        <th>Games Played</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.ranking %></td>
          <td><%= user.email %></td>
          <td><%= user.score %></td>
          <td><%= all_games(user).count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<!-- <%= image_tag('leaderboard.png') %> -->
